@model IEnumerable<DotNetCoreIdentity.Application.BlogServices.Dtos.PostDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td>
                    <a asp-action="Update" asp-controller="Post" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Güncelle</a> |
                    <a asp-action="Details" asp-controller="Post" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Detay</a>
                    <a asp-action="Delete" asp-controller="Post" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Sil</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
