@model DotNetCoreIdentity.Application.BlogServices.Dtos.PostDto

@{
    ViewData["Title"] = "Upload Image";
}

<h1>Upload Image</h1>
<form asp-action="UploadImage" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <div class="col-md-10">
            <p>Bir resim yükle</p>
            <input type="file" name="file" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Kaydet" />
    </div>

</form>

<div>
    <h4>Blog Post Detayi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UrlName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UrlName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" />
        </dd>

    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
