@model StartMVC.Models.Staff;
@{
    ViewData["Title"] = "Personel Detail Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name @Model.LastName</h1>
<div class="row mt-4 justify-content-center">
    <div class="card col-10 flex-md-row mb-4 box-shadow border-0">

        <image src="@Model.ImageUrl" class="img-fluid" style="max-height:300px;"></image>
        <div class="card-body d-flex flex-column align-items-start">
            <table class="table">
                <tr>
                    <td class="font-weight-bold text-right border-0">
                        Ünvanı:
                    </td>
                    <td class="text-left border-0">
                        @Model.JobTitle
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold text-right border-0">
                        Cinsiyeti:
                    </td>
                    <td class="text-left border-0">
                        @(Model.Gender ? "Kadın" : "Erkek")
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold text-right border-0">
                        İşe Başlama Tarihi:
                    </td>
                    <td class="text-left border-0">
                        @Model.StartDate.ToShortDateString()
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold text-right border-0">
                        Doğum Tarihi:
                    </td>
                    <td class="text-left border-0">
                        @Model.BirthDate.ToShortDateString()
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold text-right border-0">
                        Maaşı:
                    </td>
                    <td class="text-left border-0">
                        @Model.Salary TL
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold text-right border-0">
                        Adresi:
                    </td>
                    <td class="text-left border-0">
                        @Model.Address
                    </td>
                </tr>
            </table>
            <a asp-action="Index">Listeye Dön</a>
        </div>

    </div>

</div>

