@model StartEFCore.Models.Team

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Takimin Bilgisi</h1>

            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LogoUrl)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LogoUrl)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Province)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Province)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Year)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>

