@model IEnumerable<DotNetCoreIdentity.Application.BlogServices.Dtos.PostDto>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="Create"  class="btn btn-primary mr-3">Yeni Post Oluştur</a>
    <a asp-action="Index" asp-controller="Category" class="btn btn-primary">Kategorileri Yonet</a>

</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td>
                    <a asp-action="Update" asp-controller="Post" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Güncelle</a> |
                    <a asp-action="Details" asp-controller="Post" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Detay</a>
                    | <button type="button" class="btn btn-sm btn-outline-primary silme-modal-btn" data-title="@item.Title" data-id="@item.Id">
                        Sil
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="silmeModal" tabindex="-1" role="dialog" aria-labelledby="silmeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="silmeModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu blog post'u silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" id="confirm-delete" data-id="">Sil</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(".silme-modal-btn").click(function () {
            var id = $(this).attr("data-id");
            $("#confirm-delete").attr("data-id", id);
            var title = $(this).attr("data-title");
            $("#silmeModalLabel").text(title);
            $('#silmeModal').modal('show');
        });

        $("#confirm-delete").click(function () {
            $("#confirm-delete").attr("disabled", "disabled");
            var params = {
                id: $("#confirm-delete").attr("data-id")
            };
            $.ajax({
                url: "/CMS/Post/DeleteApi",
                method: "POST",
                headers: { "content-type": "application/json" },
                data: JSON.stringify(params)
            }).done(function (data) {
                console.log(data);
                checkDeleteStatus(data, params.id);
                alert("silme basarili");
                $("#confirm-delete").removeAttr("disabled");

            });
        });
        function checkDeleteStatus(data, id) {
            $('#silmeModal').modal('hide');
            // silme durumu basariliysa modali kapatacak
            if (data.succeeded) {
                // listeden silinen satiri kaldiracak
                $("#row-" + id).remove();
            }
            else {
                alert(data.errorMessage);
            }
            // hatali ise hata mesajini alert ile verecek
        }
    </script>
}